.hero_section {
  height: calc(100vh - 80px);
  width: 100%;
  background-image: linear-gradient(to right, #00000077, #00000018),
    url("../assets/images/hero-img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffff;
  position: relative;
  /* z-index: 100; */
}

.hero_heading {
  padding-left: 150px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero_heading h4 {
  border: 1px solid;
  border-image-slice: 1;
  display: inline;
  font-family: Inter Light;
  letter-spacing: 0.9px;
  padding: 10px;
}

.hero_heading h4 {
  border-image-source: linear-gradient(to left, #0000, red);
}

.hero_heading h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.2em;
  font-family: Inter Regular;
  padding: 30px 0;
}

.hero_heading h1 span {
  background-image: linear-gradient(180deg, red 40%, #ffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hero_heading p {
  font-family: Inter Regular;
  line-height: 27px;
  font-size: 1.3rem;
  padding-bottom: 40px;
}

.hero_heading a {
  background-image: linear-gradient(90deg, #D82828 40%, #000);
  padding: 12px 40px;
  font-size: 1.1rem;
  font-family: Inter Regular;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
}

/* ----> grid_section <----- */
.grid_section {
  width: 100%;
  height: auto;
  background: #1E1E1E;
}

.grid_item {
  padding: 60px 150px;
  display: flex;
  justify-content: space-between;
}

/* ----> featured_section <----- */

.featured_bg, .trail_section {
  width: 100%;
  height: auto;
  background-image: linear-gradient(#000000d9, #000000e2), url('../assets/images/Tech1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 150px;
}

.featured_heading {
  padding: 50px 150px;
}

.featured_heading h1 {
  color: #D82828;
  text-align: center;
  font-size: 2rem;
  font-family: Inter Medium;
  padding-bottom: 20px;

}

.featured_heading p {
  color: #C8C8C8;
  text-align: center;
  font-size: 1.2rem;
  font-family: Inter Regular;
  padding: 0 10%;
  line-height: 1.6rem;
}

.featured_grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* ----> company_section <----- */
.company_section {
  background: #1E1E1E;
  padding: 50px 150px;
  width: 100%;
  color: #C8C8C8;
}

.company_heading {
  display: flex;

}

.company_heading h1 {
  font-family: Inter Medium;
  letter-spacing: 1.2px;
  font-size: 17px;
  margin-right: 40px;
}

/* ----> why choose us section <----- */
.whyChooseUs_section {
  width: 100%;
  height: auto;
  background-color: transparent;
  background-image: linear-gradient(134deg, #2E1C1C 17%, #191919 33%);
}

.chooseUs_container {
  padding: 100px 150px 0;
  color: #ffff;
  display: flex;
}

.chooseUs_heading,
.chooseUs_img {
  width: 50%;
}

.chooseUs_heading {
  padding-left: 20px;
}

.chooseUs_heading h1, .trail_heading h1 {
  font-size: 0.9rem;
  font-family: Inter Regular;
  letter-spacing: 1.1px;
  border: 1px solid;
  border-image-slice: 1;
  display: inline;
  padding: 7px;

}

.chooseUs_heading h1, .trail_heading h1 {
  border-image-source: linear-gradient(to left, #0000, red);
}

.chooseUs_heading h2 {
  font-family: Inter Medium;
  margin: 30px 0;
}

.chooseUs_heading p {
  font-size: 15px;
  font-family: Inter Regular;
  line-height: 1.4rem;
  text-align: justify;
  color: rgb(200, 200, 200);
}

.card_wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.chooseUs_img {
  text-align: end;

}

.chooseUs_img img {
  float: right;
}


/* ----> progress section <----- */
.progress_section {
  width: 100%;
  background: #1e1e1e;
  position: relative;

}

.progress_section::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-image: url("../assets/images//overlay.png");
  --background-overlay: '';
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 18% auto;
}

.progress_container {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px 0;
}

/* .progress_lhs,
.progress_rhs {
  width: 50%;

} */
 .progress_lhs{
  text-transform: capitalize;
 }

.progress_lhs h1 {
  font-size: 3.5rem;
  font-family: Inter Bold;
  color: #fff;
}

.progress_lhs h1 span,
.thread_text span, .trail_heading p span {
  background-image: linear-gradient(180deg, red 40%, #ffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.progress_lhs figure {
  width: 100%;
  height: 70%;
}

.progress_lhs figure img {
  width: 100%;
  height: 100%;
}

.progress_rhs {
  padding: 20px 0 0 70px;
}

.progress_rhs p {
  font-size: 17px;
  font-family: Inter Bold;
  color: #C8C8C8;

}

.progress_rhs a {
  color: #fff;
  font-family: Inter Regular;
  background: linear-gradient(#1E1E1E, #1E1E1E) padding-box,
    linear-gradient(to right, #D82828, #C8C8C8) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  font-size: 1.2rem;
  margin: 30px 0 20px;
}

.progress_rhs a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.clientCard_wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}



/* ----> threat section <----- */

.threat_section {
  width: 100%;
  padding: 100px 150px;
  background: #191919;
}

.content_container {
  border: 1px solid #252332;
  border-radius: 20px;
  padding: 100px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(180deg, #d82828c9, #191919 50%), url('../assets//images/threat-grid-img.svg');
}

.thread_text {
  text-align: center;
  color: #C8C8C8;
}

.thread_text h4 {
  background: #191919;
  border: 1px solid #c8c8c870;
  display: inline;
  padding: 10px 20px;
  font-family: Inter Light;
  border-radius: 40px;
}

.thread_text h1 {
  font-family: Inter Bold;
  font-size: 3.5rem;
  color: #fff;
  margin-top: 20px;
}

.thread_text p {
  font-family: Inter Regular;
  font-size: 1.3rem;
  margin: 20px 0 50px 0;
}

.thread_text a {
  font-family: Inter Light;
  font-size: 17px;
  padding: 10px 20px;
  margin-top: 20px;
}

.thread_text a {
  font-family: Inter Regular;
  background: linear-gradient(#1E1E1E, #1E1E1E) padding-box,
    linear-gradient(to right, #D82828, #C8C8C8) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
}

.testimonial_section{
  width: 100%;
  background: #1e1e1e;
  position: relative;
}
.testimonial_section::before{
  content: '';
  position: absolute;
  top: 0;
  right:100%;
  left:0;
  width: 100%;
  bottom: 0;
  background-image: url("../assets/images/overlay2.png");
  --background-overlay: '';
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 18% auto;
}
.testimonial_container {
  padding: 100px 150px ;
}
.testimonial_container h1{
  font-size: 2rem;
  font-family: Inter Bold;
  text-align: center;
  padding-bottom: 20px;
}
.testimonial_container h2{
  font-size: 1.1rem;
  font-family: Inter Medium;
  color: #C8C8C8;
  text-align: center;
  margin-bottom:40px;
}
.test_heading{
  color: #D82828;
}


/* -------------------trail_section------------ */
.trail_heading h1{
  color: #ffff;
}
.trail_section{
  padding: 100px 150px;
}
.trail_heading p{
  font-size: 2.5rem;
  font-family: Inter Bold;
  color: #fff;
  margin-left: 0px;
  margin-top: 30px;
}
.trail_grid{
  color: #fff;
  font-size: 1.8rem;
  font-family: Inter Bold;
  padding-bottom: 20px;
}
.trail_grid span{
  font-size: 1rem;
  font-family: Inter Regular;
  padding-top: 10px;
}
.trailgrid_box{
  padding-left: 50px;
}
.trail_heading{
  padding-right: 50px;
}