.megamenu{
   position: relative;
   z-index: 10000;
   padding: 9px 150px;
   background: #000;
   color: #fff;
}

.submenu{
    background-color: transparent;
    background-image: linear-gradient(134deg, #2E1C1C 17%, #191919 33%);
    border-radius: 10px;
    box-shadow: #d828286e 0px 2px 8px 0px;
    width: 100vw;
    height: auto;
    position: fixed;
    right: 0%;
    top:70px;
    padding: 50px 150px;
}
.menu_btn{
    padding: 0 20px !important; 
    text-transform: capitalize;
}

.demoBtn button {
    border: 2px solid red;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    transition: all 0.2s ease-in;
    letter-spacing: 0.7px;
    margin-left: 20px;
    text-transform: capitalize;
    cursor: pointer;
  }
  .demoBtn button:hover {
    background: red;
  }

  .submenuLink{
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
   
  }

  .megamenu_container{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
   
}
.menu_link h1, .company h1{
    font-family: Inter Bold;
    font-size:1rem;
    display: flex;
    color: #D82828;
}
.menu_link h1 svg{
    margin:0px 7px;
    font-size: 1.2rem;
}
.menu_link h1 img{
  color: #D82828;
  margin-right:7px;
}
.menu_items{
    list-style-type: none;
    margin-top: 40px;
    /* text-align: center; */
}
.menu_items li{
    padding-bottom:30px;
    
    cursor: pointer;
}
.menu_link{
  border-right: 1px solid #4f4f4f65;
  padding-right: 20px;
}
.menu_link:last-child{
  border-right: 0px ;
}
.menu_items li a{
  font-family: Inter Regular;
  color: #C8C8C8;
  font-size: 15px;
  letter-spacing: 1.1px;
}
.menu_items li a:hover{
  color: #D82828;
}
.company_text{
  justify-content: start !important;
  padding-bottom: 20px;
}
.platform_text p{
  display: flex;
  align-items: center;
 justify-items: center;
  font-family: Inter Regular;
  padding:30px 0px 0px 0;
  

}

.platform_text p svg{
  color: #D82828;
  font-size: 20px;
  margin-right: 7px;
}
.icon_container{
  margin-top: 40px;
}
.company_grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C8C8C8;
}
.award{
  border-right: 1px solid #D82828;
  border-bottom: 1px solid #D82828;
  padding:10px;
}
.experience{
  border-bottom: 1px solid #D82828;
  padding: 10px;
}
.service{
  border-right: 1px solid #D82828;
  padding: 10px;
}
.growth{
  padding: 10px;
}
.company_grid svg{
  color: red;
  font-size:20px;
}

.company_grid h2{
  font-family: Inter Bold;
  padding-top: 10px;
}














  @media only screen and (max-width: 768px){
    .demoBtn{
      display: none;
    }
    .megamenu{
      padding: 10px 20px;
    }
   
  }


















  @media only screen and (max-width: 768px) {
    .hero_section {
      background-size: cover;
      height: auto;
    }
  
    .hero_heading {
      padding: 20px;
      width: 60%;
    }
  
    .hero_heading h1 {
      font-size: 3.2rem;
    }
  
    /* ---->grid item<---- */
    .grid_item {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
  
    /* ---->featured section<---- */
  
    .featured_bg {
      height: auto;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
    }
  
    .featured_grid {
      flex-direction: column;
      padding: 20px;
    }
  
    .featured_heading {
      padding: inherit;
    }
  
    .featured_heading p {
      padding: inherit;
      text-align: start;
    }
  
    /* ------->why choose us <------- */
    .chooseUs_container{
      flex-direction: column;
      padding: 20px;
    }
    .chooseUs_heading, .chooseUs_img{
      width: 100%;
    }
    .chooseUs_img{
      margin: auto;
      width: 400px;
    }
    
    .chooseUs_img img {
      float: inherit;
    }
  
    /* ---->progress section <----- */
    .progress_container{
      flex-direction: column;
      padding: 20px;
      align-items: center;
    }
    .progress_lhs,.progress_rhs{
      width: 100%;
      text-align: center;
    }
    .progress_lhs h1{
      font-size: 2.5rem;
      padding-bottom: 20px;
    }
    .progress_lhs figure{
      width: 400px;
      margin: auto;
  
    }
  
    .threat_section{
      padding: 20px ;
    }
    .thread_text h1{
      font-size:2.5rem;
    }
    .thread_text p{
      font-size: 1.1rem;
    }
    .content_container{
      padding:30px 20px;
    }
  }
  